.asset, .assetControl {
	width: 100%;
	height: 100%;
}

.asset {
	z-index: 0;
}

.assetWrap {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.col, .row {
	margin: 1px;
	padding: 0px;
}

.game {
	width: 100%;
}

.gamegrid {
	width: 80%;
}

.gamelog {
	width: 20%;
}

.assetCover {
	width: 100%;
	height: 100%;
	z-index: 5;
}

